.profile-container {
    background-color: 914B6F;
}

.profile-split {
    height: 100%;
    width: 50%;
    position: fixed;
  }

.left {
    padding-top: 25%;
    top: 0;
    background-color: #F0C7A7;
    left: 0;
    text-align: center;
}

.right {
    padding-top: 10%;
    top: 0;
    background-color: #914B6F;
    left: 50%;
}

/* for the left side */
.profile-username {
    color: #1A1B4C;
    font-size: 70px;
    font-weight: bold;
}

.profile-reviewCount {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-right-header {
    text-align: left;
    font-weight: bold;
}

.profile-review-list {
    align-items: center;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

.review-box {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    width: 50%;
}

.your-reviews-block {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.your-reviews {
    font-size: 50px;
    font-weight: bold;
  }

/* for the review box content */
.review-body {
    font-size: 17px;
    color: #161742;
}
.review-header {
    font-weight: bold;
    font-size: 30px;
}


.logout-button {  
    color: #fff;
    background-color: #5F2626;
    border-radius: 200px;
    display: inline-block;
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    box-shadow: 0px 3px 3px #161742;

    transition: padding 0.24s;
    transition: font-size 0.16s;
  }

  .logout-button:hover{
    font-size: 28px;
    padding-left: 40px;
    padding-right: 40px;
  }