.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #1a1b4c;
  /* Background color of the navbar */
  color: #fff;
  /* Text color */
  padding: 10px 20px;
  /* Padding around the navbar */
  display: flex;
  /* Use flexbox for layout */
  justify-content: space-between;
  /* Align items with space between them */
  align-items: right;
  z-index: 9999;
  padding: 2.5% 2% 2.5% 2%;
}

.sidebar {
  position: fixed;
  right: -35vw;
  /* Adjust width as needed */
  top: 0;
  height: 100%;
  width: 35vw;
  /* Adjust width as needed */
  background-color: #383965;
  color: white;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  /* Ensure it's on top of the map */
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar.open {
  right: 0;
  /* margin-top: 6rem; */
}

.building-picture {
  height: 100%;
  width: 100%;
}

.building-name {
  padding: 0 3%;
  font-size: xxx-large;
}

.building-desc {
  padding: 0 3% 3% 3%;
}

.building-details {
  display: flex;
  flex-direction: column;
}


.restroom-list {
  padding: 12px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: max-content;
}

.restroom-item {
  border-radius: 50px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  position: relative;
  background-color: #ffffff;
  /* height: 116px; */
}

.restroom-item .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.restroom-item .restroom-name {
  position: relative;
  font-family: "Young Serif-Regular", Helvetica;
  font-weight: 400;
  color: #383965;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.restroom-item .restroom-other {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.restroom-item .restroom-other>span {
  height: 36px;
  overflow-y: hidden;
}

.restroom-item .stars {
  position: relative;
  flex: 0 0 auto;
}

.restroom-item .star-svg {
  width: 20px;
}

.restroom-item .text-wrapper {
  margin-top: -1px;
  font-family: "Visby Round CF-ExtraBold", Helvetica;
  font-weight: 800;
  color: #383965;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}





.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 5px;
  font-size: 16px;
  width: 95%;
  background-color: #ffffff;
  color: #383965;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.building-details.restroom-information {
  background-color: #fff;
  color: black;
  padding: 24px 12px;
  margin-top: -20px;
}

.building-details.restroom-information .building-name {
  padding: 0;
}
